<h2>The best online resources for Ruby developers</h2>
<div>

  <% @postings.each do |posting| %>
  <ul class="no-bullet">
    <li><%= posting.category %></li>
    <li><%= link_to posting.title, posting.url %></li>
    <li><%= posting.description %></li>
  </ul>
  <ul class="inline-list">
    <li>Added by: <%= User.where(id: posting.user_id).first.full_name %></li>
    <li><%= link_to 'Reviews', posting_reviews_path(posting) %></li>
  </ul>
  <%- end -%>
</div>
<%= paginate @postings %>
<%= link_to 'Share an online resource', new_posting_path %>