<h2>The best online resources for Ruby developers</h2>
<div>
  <ul>
  <% @postings.each do |posting| %>
    <li><%= posting.category %></li>
    <li><%=  link_to posting.title, posting.url %></li>
    <li><%= posting.description %></li>
    <li><%= User.where(id: posting.user_id).first.full_name %></li>
    <li><%= link_to 'Review this', posting_reviews_path(posting) %></li>
    <hr />
  <%- end -%>
  <ul>
</div>
<%= paginate @postings %>
<%= link_to 'Share a new Ruby Classic', new_posting_path %>