<h2>The best online resources for Ruby developers</h2>
<div>
  <div>
    <%= search_form_for @q do |f| %>
      <div class="field">
        <%= f.text_field :title_cont, placeholder: 'Search for titles' %>
      </div>
      <div class="actions"><%= f.submit "Search" %></div>
    <% end %>
  </div>

  <% @postings.each do |posting| %>
    <ul class="no-bullet">
      <li><%= posting.category %></li>
      <strong><li><%= link_to posting.title, posting.url %></li></strong>
      <li><%= posting.description %></li>
    </ul>

    <ul class="inline-list">
      <li><%= link_to 'Reviews', posting_reviews_path(posting) %></li>
      <li><em>Added by <%= User.where(id: posting.user_id).first.full_name %></em></li>
      <li><em>Recommended by <%= pluralize(posting.recommendations.length, "user") %></em></li>
      <li><%= button_to 'Recommend', posting_recommendations_path(posting_id: posting.id), class:'small secondary', render: :back %></li>
    </ul>
   <hr />
  <%- end -%>
</div>
<%= paginate @postings %>
<br />
<%= link_to 'Share an online resource', new_posting_path %>
