
<h3>Do you know an awesome online resource for Rubyists?</h3>
<% if current_user %>
  <p>Share it with the comunity and earn some good karma:</p>
<%- else -%>
  <p>You must sign in to add a title.</p>
<%- end -%>
<%= simple_form_for(@posting) do |f| %>
  <%= f.input :title %>
  <%= f.input :url, label: 'Website'%>
  <%= f.input :description %>
  <%= f.input :category, collection: ['Book', 'Video', 'Article'], selected: 'Book', input_html: {style: 'width: 180px'}%>
    <%= f.button :submit, 'Add this resource' %>

<% end %>
<%= link_to 'Cancel', postings_path %>
