
<h3>Do you know an awesome online resource for Rubyists?</h3>
<p>Share it with the comunity and earn some good karma:</p>
<%= simple_form_for(@posting) do |f| %>
  <%= f.input :title %>
  <%= f.input :url, label: 'Website'%>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.submit 'Create a post' %>
<% end %>
<%= link_to 'Cancel', postings_path %>
