<h3>The best minds in the Ruby community</h3>
<div>

  <div>
    <%= search_form_for @q do |f| %>
      <div class="field">
        <%= f.text_field :about_me_cont, placeholder: 'Search information about the members' %>
      </div>
      <div class="actions"><%= f.submit "Search" %></div>
    <% end %>
  </div>


  <% @user_profiles.each do |profile| %>
  <div class="row">
    <div class="large-3 columns">
      <ul class="no-bullet">
        <% username = User.where(id: profile.user_id).first.user_name %>
        <li><strong><%= username %></strong></li>
        <li><%= profile.hometown %></li>
        <li><%= link_to profile.twitter, "http://www.twitter.com/#{profile.twitter}" %></li>
        <li><%= link_to 'Github', profile.github %></li>
        <li><%= link_to 'Blog', profile.blog %></li>
        <li><%= link_to 'Website', profile.website %></li>
        <% if profile.for_hire %>
           <li>Available for hire</li>
        <%- end -%>
        <% if profile.for_pairing %>
          <li>Available for pairing</li>
        <%- end -%>
      </ul>
    </div>
    <div class="large-8 columns">
      <ul class="no-bullet">
        <li><em>About Me: </em><%= profile.about_me %></li>
        <li><em>Ruby links shared </em><%= Posting.where(user_id: profile.user_id).count  %> </li>
        <li><em>Ruby links recommended </em><%= Recommendation.where(user_id: profile.user_id).count  %> </li>
        <li><em>Ruby links reviewed </em><%= Review.where(user_id: profile.user_id).count  %> </li>
      </ul>
    </div>
  <hr />
  </div>
  <%- end -%>

</div>

<%= paginate @user_profiles %>
<br />
<%= link_to 'Share a Ruby resource', new_posting_path %>
<br />
