<% if @posting %>
  <h1><%= "Reviews for #{@posting.name}" %></h1>
  <table>
    <tr>
      <th>User name</th>
      <th>Review</th>
    </tr>
    <% @reviews.each do |review| %>
      <tr>
        <%= content_tag :td, review.user.full_name %>
        <%= content_tag :td, review.body %>
      </tr>
    <% end %>
  </table>
  <% else %>
  <p>Be the first to review this </p>
<% end %>

  <%= simple_form_for([:posting, :review]) do |f| %>
    <%= f.input :body, "What I think about this #{posting.category}" %>
    <%= f.button :submit %>
  <%- end -%>

<%= link_to 'Cancel', redirect_to: posting_reviews_path(posting) %>
