<% if @posting %>
  <%= link_to "Home", postings_path %>
  <h1><%= "Reviews for #{@posting.title}" %></h1>
  <% if !current_user %>
    <p>You must sign in to review this title.</p>
  <%- end -%>

    <% @reviews.each do |review| %>
    <ul class="no-bullet">
      <li><%= content_tag :td, review.body %></li>
      <li><%= content_tag :td, review.user.full_name %></li>
    </ul>
    <% end %>

  <% else %>
  <p>Be the first to review this </p>
<% end %>

<%= link_to "Review this", new_posting_review_path %>